<div class="icon">
    <div class="icon-title">SimplifyMe</div>
    <ul class="menu">

          <li class="spread">
                <a class="unit" [routerLink]="'/simplification'"><i class="pi pi-pen-to-square"></i></a>
          </li>

          <li class="spread">
                <a class="unit disabled" [routerLink]="'/sentiment'"><i class="pi pi-face-smile"></i></a>
          </li>

          <li class="spread">
                <a class="unit" [routerLink]="'/caption'"><i class="pi pi-comment"></i></a>
          </li>

          <li class="spread">
                <a class="unit disabled" [routerLink]="'/translater'"><i class="pi pi-language"></i></a>
          </li>

          <li class="spread">
                <a class="unit" [routerLink]="'/imageGenerator'"><i class="pi pi-image"></i></a>
          </li>
    </ul>
</div>