<div class="card">
    <p-toast />
    @if (!isUploading) {
    <h2>Image to Text</h2>
    <p-fileupload name="images[]" url="http://localhost:8000/api/caption" [customUpload]="true"
        (uploadHandler)="customUpload($event)" [multiple]="true" accept="image/*" maxFileSize="10000000"
        mode="advanced">
        <ng-template #empty>
            <div>Drag and drop files to here to upload.</div>
        </ng-template>
    </p-fileupload>
    <div class="button-wrapper">
        <p-button label="Back"  icon="pi pi-arrow-left"  (onClick)="onBackToMenu()" styleClass="cool-button"/>
    </div>
    }@else {
        <p-galleria 
            [value]="uploadedFiles" 
            [responsiveOptions]="responsiveOptions"
            [numVisible]="3"
            [(activeIndex)]="selectedImageIndex"
            (activeIndexChange)="onImageChange($event)">
            <ng-template #item let-item>
                <div class="galleria-item-wrapper">
                    <img [src]="item.itemImageSrc" class="galleria-image" />
                  </div>
            </ng-template>
            <ng-template #thumbnail let-item>
                <img [src]="item.thumbnailImageSrc"
                    style="height: 60px; object-fit: cover;" />
            </ng-template>
        </p-galleria>
        <div class="caption-box typing" *ngIf="selectedCaption">
            <p>{{ selectedCaption }}</p>
          </div>
        <div class="button-wrapper">
            <p-button label="Try again" icon="pi pi-refresh" (onClick)="resetUpload()" styleClass="back-button" />
        </div>
    }
</div>